/* General
*********************************/
body a{
    text-decoration: none!important;
}
/* Header Navigation CSS */
header{
    position: absolute;
    width: 100%;
    z-index: 99;
}
header li{
    border-radius: 5px;
    color: #d6d6d6;
    background-color: #222222;
    cursor: pointer;
    transition: all .3s;
}
header li:hover{
    color: rgb(19, 21, 29);
    background-color: #FE7C25;
    transform: scaleX(1.02);
    box-shadow: 0 10px 3rem rgba(0,0,0,.4);
}
.navbar-toggler{
    color: #222;
    background-color: #f89101;
    box-shadow: rgba(246, 134, 28, 0.3) 0px 0px 20px 10px;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(22, 22, 22, 0.5);
    border-color: rgba(255,255,255,.1);
}
/* Subject Landing Container CSS */
.subContainer{
    background-color: #416FD8;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../img/selPage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    padding: 3rem 5rem;
}
.btn{
    border-radius: 0;
}
.btn-primary{
    background-color: #5E72E4;
    border-color: #5E72E4;
}
.btn-button-group{
    display: flex;
    justify-content: space-around;
}
.card{
    border: 1px solid transparent;
    box-shadow: 0 6px 16px 0 rgba(115,143,147,.4);
    padding: 1rem;
    transition : all .2s;
}
.card:hover{
    border: 1px solid rgba(0, 89, 184, 0.303);
    box-shadow: 0 6px 16px 0 rgba(0, 89, 184, 0.303);
}
::-webkit-scrollbar{
    display: none;
}
.d-none{
    display: none;
}
.animated{
    animation-duration: 2s;
}
/* Subject Page - Generalized
*********************************/
.subject .coursehandout .row{
    justify-content: space-between;
}
.subject .card{
    position: relative;
    border-radius: 0;
    margin: 1.11%;
}
.subject .row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.subject .card .subImg{
    position: absolute;
    height: 120px;
    right: -17px;
    top: -14px;
}
.subject table th{
    font-weight: 400;
    color: #222222;
}
.subject table td{
    color: #6c757d;
}
.subject h4{
    color: #4f4f4f;
}
a[data-status="NAV"] {
    display: none;
}
/*****************************************************************/
/* Media Query Phone 
*********************************/
@media (max-width:600px){
    /* Navbar */
    header ul li{
        font-size: .8rem;
    }
    .navbar-brand{
        font-size: 1rem;
    }
    button.navbar-toggler{
        transform: scale(0.8);
    }
    
    /* Explore Subjects */
    section{ padding: 2rem 1.8rem; }
    /* SUBJECT Pages */
    .subject .subject-info h3{ font-size: 1.6rem; }
    .subject .subject-info .lead{ font-size: 1.2rem; }
    .subject h4{
        font-size: 1.1rem;
        color: #2b2b2b;
    }
    .subject .row{ flex-direction: column; }
    .subject .card{
        width: 100%!important;
        margin: 0 0 1.6rem 0;
    }
    .subject .card-text {
        font-size: .8rem;
        letter-spacing: 1px;
    }
    .subject .card-body h5 { font-size: 1.1rem; }
    .subject table td{ font-size: 1rem; }
    
    .subContainer .display-4{
        font-size: 2.4rem;
        line-height: 3.5rem;
    }
}

/*  Footer Styling
*********************************/
.footer.footer-2{
    padding-bottom: 0;
    padding-top: 0;
}
.footer-menu li a:hover {
    color: #f6861c
}

.footer-widget .widget-title {
    color: #fff
}

.footer-widget-link ul {
    margin: 50px 0 0
}

.footer-widget-link ul li a {
    color: #76889e;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px 5px 0;
    transform: translateX(0)
}

.footer-widget-link ul li:hover a{
    color: #f6861c!important;
    transform: translateX(5px);
    transition: all .3s ease-in-out
}

.footer-widget-link ul li img {
    transform: translateX(0px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out
}

.footer-widget-link ul li:hover img {
    transform: translateX(10px);
    opacity: 1;
    visibility: visible
}
.footer-top-section {
    background-color: #121921;
    box-shadow: 0 10px 60px rgba(18,25,33,.4);
    padding-top: 100px;
    padding-bottom: 70px;
}

.footer-top-border-style {
    height: 5px
}

.footer-top-border-style .border-bg-one {
    height: 100%;
    width: 20%;
    float: left;
    background-color: #f99800
}

.footer-top-border-style .border-bg-two {
    height: 100%;
    width: 20%;
    float: left;
    background-color: #f05924
}

.footer-top-border-style .border-bg-three {
    height: 100%;
    width: 20%;
    float: left;
    background-color: #59aae2
}

.footer-top-border-style .border-bg-four {
    height: 100%;
    width: 20%;
    float: left;
    background-color: #f89101
}

.footer-top-border-style .border-bg-five {
    height: 100%;
    width: 20%;
    float: left;
    background-color: #ff3133
}
.contact-widget ul li i {
    color: #f6861c;
    margin-right: 10px
}

.contact-widget .widget-contact-list li:first-child {
    margin-bottom: 15px
}

.contact-widget .widget-contact-list {
    margin-top: 50px
}

.contact-widget .widget-contact-list li span,.contact-widget .widget-contact-list li a, .widget-about-info {
    color: #76889e;
}

.contact-msg-button {
    margin: 20px 0
}

.contact-widget .social-link li {
    color: #76889e;;
    font-size: 16px
}

.contact-widget .social-link li:first-child {
    margin-right: 20px
}

.contact-widget .social-link li a {
    color: #839dbc;
    font-size: 18px
}

.contact-widget .social-link li a:hover {
    color: #f6861c
}

.btn-secondary:hover {
    background-color: #da6d05;
    border-color: transparent;
}
.btn-secondary {
    border-color: transparent;
    background-color: #f6861c;
    box-shadow: 0 0 20px 10px rgba(246,134,28,.3);
}